* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 22px;
  }
  
  body {
    min-height: 100vh;
    font-family:'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
   .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    border: 1px solid mediumblue;
    margin: auto;
  } 

  header{
    align-items: center;
    background-color: #FDFDFD;
    color: aliceblue;
    width: 100%;
    padding: 0 0.25rem;
    justify-content: space-between;
    display: flex;
  }

  footer {
    width: 100%;
    padding: 0.1rem;
    background-color: powderblue;
    color: rgb(69, 121, 167);
    display: grid;
    place-content: flex;
    text-align: center;
  }
  .login-page {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
  }
  
  .login-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .login-page input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
  }
  
  .login-page button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-page button:hover{
    background-color: #0056b3;
  }
  
  .login-page .error{
    color: rgb(238, 20, 20);
    margin-top: 10px;
  }
  
  .login-page p {
    margin-top: 10px;
    color: black; 
  }